# Question 1

### Question

Consider the following Python module:

    
    a = 0

    def b():
        global a
        a = c(a)

    def c(a):
        return a + 2

After importing the module into the interpreter, you execute:

    >>> b()
    >>> b()
    >>> b()
    >>> a
    ?

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

### Answers

* **The value displayed when the last expression (a) is evaluated will be 6.**

Explanation:
* Since a is declared as global within the definition of b, when a is assigned inside b (as c(a)), the global value of a gets overwritten.
* b()
>*  Before: a = 0
>* After: a = a + 2 = 2
* b()
>*  Before: a = 2
>* After: a = a + 2 = 4
* b()
>*  Before: a = 4
>* After: a = a + 2 = 6
* Hence the last expression (a) would display the current value of a, which is 6.





The answers are justified using the following Python script.

In [ ]:
a = 0
def b():
  global a
  a = c(a)
def c(a):
  return a + 2

print(f"a before first b(): {a}")
b()
print(f"a after first b(): {a}")
print(f"a before second b(): {a}")
b()
print(f"a after second b(): {a}")
print(f"a before third b(): {a}")
b()
print(f"a after third b(): {a}")
print(f"Final value of a: {a}")
a

a before first b(): 0
a after first b(): 2
a before second b(): 2
a after second b(): 4
a before third b(): 4
a after third b(): 6
Final value of a: 6

6

# Question 2

### Question

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

    >>> fileLength('midterm.py')
    284
    >>> fileLength('idterm.py')
    Traceback (most recent call last): File "<pyshell#34>", line 1, in <module> fileLength  ('idterm.py') File "/Users/me/midterm.py", line 3,  in fileLength infile = open(filename)  FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'

As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

    >>> fileLength('midterm.py')
    358
    >>> fileLength('idterm.py')
    File idterm.py not found.


Given function fileLength():

    def fileLength(file_name):
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))

### Answer

In [ ]:
def fileLength(file_name):
  try:
    file = open(file_name)
    contents = file.read()
    file.close()
    print(len(contents))
  except FileNotFoundError:
    print(f"File {file_name} not found.")

In [ ]:
fileLength('idterm.py')
fileLength('AnyNonExistentFile.abc')

File idterm.py not found.
File AnyNonExistentFile.abc not found.

# Question 3

Write a class named Marsupial that can be used as shown below:

    >>> m = Marsupial()
    >>> m.put_in_pouch('doll')
    >>> m.put_in_pouch('firetruck')
    >>> m.put_in_pouch('kitten')
    >>> m.pouch_contents()
    ['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:

> a. extends the Marsupial _ _init_ _ constructor to take, as input, the coordinates x and y of the Kangaroo object,
> b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and
> c. overloads the __str__ operator so it behaves as shown below.

    >>> k = Kangaroo(0,0)
    >>> print(k)
    I am a Kangaroo located at coordinates (0,0)
    >>> k.put_in_pouch('doll')
    >>> k.put_in_pouch('firetruck')
    >>> k.put_in_pouch('kitten')
    >>> k.pouch_contents()
    ['doll', 'firetruck', 'kitten']
    >>> k.jump(1,0)
    >>> k.jump(1,0)
    >>> k.jump(1,0)
    >>> print(k)
    I am a Kangaroo located at coordinates (3,0)

### Answer

In [ ]:
class Marsupial():

  def __init__(self, items_in_pouch=[]):
    self.coordinates = (0, 0)
    self.items_in_pouch = []

  def put_in_pouch(self, item):
    self.items_in_pouch.append(item)

  def pouch_contents(self):
    return(self.items_in_pouch)

In [ ]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [ ]:
class Kangaroo(Marsupial):

  def __init__(self, x_coordinate, y_coordinate, items_in_pouch=[]):
    super().__init__(items_in_pouch)
    self.coordinates = (x_coordinate, y_coordinate)

  def jump(self, dx, dy):
    self.coordinates = (self.coordinates[0]+dx, self.coordinates[1]+dy)

  def __str__(self):
    return(f"I am a Kangaroo located at coordinates {self.coordinates}")

In [ ]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0, 0)

In [ ]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [ ]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3, 0)

# Question 4

### Question

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

    x = x/2     if x is even
      = 3x + 1  if x is odd

Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

### Answer

In [14]:
def collatz(x):

  print(int(x))
  if x != 1: # if not equal to 1

    if x%2 == 0: # if even
      return(collatz(x/2))

    else: # if odd
      return(collatz(3*x + 1))

In [15]:
collatz(1)

1

In [16]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

### Question

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

### Answer

In [28]:
def binary(n):

  if n == 0:                  # if the number is 0
    return(0)

  else:                       # if the number is non-zero
    q = n//2                  # quotient
    r = n%2                   # reminder
    return(10*binary(q) + r)

In [33]:
binary(0)

0

In [34]:
binary(1)

1

In [35]:
binary(3)

11

In [36]:
binary(9)

1001

# Question 6

### Question

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

    >>> infile = open('w3c.html')
    >>> content = infile.read()
    >>> infile.close()
    >>> hp = HeadingParser()
    >>> hp.feed(content)
    W3C Mission
     Principles

### Answer

In [61]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.heading = False
        self.heading_level = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith("h") and tag[1:].isdigit():
            self.heading = True
            self.heading_level = int(tag[1])

    def handle_data(self, data):
        if self.heading:
            indentation = " " * self.heading_level # Indentation for each heading level
            print(f"{indentation}{data.strip()}")

    def handle_endtag(self, tag):
        if tag.startswith("h") and tag[1:].isdigit():
            self.heading = False

In [62]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

 W3C Mission
  Principles

# Question 7

### Question

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

    >>> webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
    http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
        http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
            http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
        http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
            http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

### Answer

In [63]:
from urllib.request import urlopen
from html.parser import HTMLParser
from urllib.parse import urljoin

class WebParser(HTMLParser):
  def __init__(self, depth, indent):
    super().__init__()
    self.depth = depth
    self.indent = indent

  def handle_starttag(self, tag, attrs):
    if tag == 'a' and self.depth > 0:
      for name, value in attrs:
        if name == 'href':
          link = urljoin(self.base_url, value)
          print(" " * self.indent + link)
          webdir(link, self.depth - 1, self.indent + 2)

def webdir(url, depth, indent):
  # print("  " * indent + url)
  try:
    with urlopen(url) as response:
      parser = WebParser(depth, indent+2)
      parser.base_url = url
      # parser.indent = indent
      parser.feed(response.read().decode('utf-8'))
  except Exception as e:
    print(" " * indent + f"Error: {url} - {e}")

In [64]:
# Example from the question:
url = "http://reed.cs.depaul.edu/lperkovic/csc242/test1.html"
webdir(url, 2, 0)

Error: http://reed.cs.depaul.edu/lperkovic/csc242/test1.html - HTTP Error 404:

In [65]:
# Another example:
url = "https://meenakshijk17.github.io/blogs.html"
print(url)
webdir(url, 2, 0)

https://meenakshijk17.github.io/blogs.html
  https://meenakshijk17.github.io/index.html
      https://meenakshijk17.github.io/index.html
      https://meenakshijk17.github.io/blogs.html
      https://meenakshijk17.github.io/photography.html
      https://meenakshijk17.github.io/contact.html
      https://meenakshijk17.github.io/index.html
      https://meenakshijk17.github.io/index.html#about-me
      https://meenakshijk17.github.io/index.html#Work
      https://meenakshijk17.github.io/index.html#Education
      https://meenakshijk17.github.io/index.html#Volunteering
      https://drive.google.com/file/d/133uNUJFXE2uytamvOt2DrBrxTBZWBYpd/view?usp=sharing
      https://krythium.com/
      https://krythium.com/
      https://krythium.com/
      https://www.georgiancollege.ca/academics/programs/artificial-intelligence-architecture-design-implementation/
        Error: https://www.georgiancollege.ca/academics/programs/artificial-intelligence-architecture-design-implementation/ - HTTP Error 403: Forbidden
      https://cusat.ac.in/
      https://www.marivanioscollege.com/
      https://codeinplace.stanford.edu/
      https://drive.google.com/file/d/1k-N8Duf3R5L7URwFgDbzySGOJK9GEBNW/view?usp=sharing
      https://www.linkedin.com/in/meenakshi-jk/
        Error: https://www.linkedin.com/in/meenakshi-jk/ - HTTP Error 999: Request denied
      https://github.com/Meenakshijk17
      mailto:meenakshi.krishnakumar.mk@gmail.com
        Error: mailto:meenakshi.krishnakumar.mk@gmail.com - <urlopen error unknown url type: mailto>
      https://www.instagram.com/meenakshi_jk/
        Error: https://www.instagram.com/meenakshi_jk/ - HTTP Error 429: Too Many Requests
  https://meenakshijk17.github.io/index.html
      https://meenakshijk17.github.io/index.html
      https://meenakshijk17.github.io/blogs.html
      https://meenakshijk17.github.io/photography.html
      https://meenakshijk17.github.io/contact.html
      https://meenakshijk17.github.io/index.html
      https://meenakshijk17.github.io/index.html#about-me
      https://meenakshijk17.github.io/index.html#Work
      https://meenakshijk17.github.io/index.html#Education
      https://meenakshijk17.github.io/index.html#Volunteering
      https://drive.google.com/file/d/133uNUJFXE2uytamvOt2DrBrxTBZWBYpd/view?usp=sharing
      https://krythium.com/
      https://krythium.com/
      https://krythium.com/
      https://www.georgiancollege.ca/academics/programs/artificial-intelligence-architecture-design-implementation/
        Error: https://www.georgiancollege.ca/academics/programs/artificial-intelligence-architecture-design-implementation/ - HTTP Error 403: Forbidden
      https://cusat.ac.in/
      https://www.marivanioscollege.com/
      https://codeinplace.stanford.edu/
      https://drive.google.com/file/d/1k-N8Duf3R5L7URwFgDbzySGOJK9GEBNW/view?usp=sharing
      https://www.linkedin.com/in/meenakshi-jk/
        Error: https://www.linkedin.com/in/meenakshi-jk/ - HTTP Error 999: Request denied
      https://github.com/Meenakshijk17
      mailto:meenakshi.krishnakumar.mk@gmail.com
        Error: mailto:meenakshi.krishnakumar.mk@gmail.com - <urlopen error unknown url type: mailto>
      https://www.instagram.com/meenakshi_jk/
        Error: https://www.instagram.com/meenakshi_jk/ - HTTP Error 429: Too Many Requests
  https://meenakshijk17.github.io/blogs.html
      https://meenakshijk17.github.io/index.html
      https://meenakshijk17.github.io/index.html
      https://meenakshijk17.github.io/blogs.html
      https://meenakshijk17.github.io/photography.html
      https://meenakshijk17.github.io/contact.html
      https://meenakshijk17.github.io/blogs/Thinking_Outside_the_Syntax.html
      https://meenakshijk17.github.io/blogs/The_Benefit_of_Doubt.html
      https://www.linkedin.com/in/meenakshi-jk/
        Error: https://www.linkedin.com/in/meenakshi-jk/ - HTTP Error 999: Request denied
      https://github.com/Meenakshijk17
      mailto:meenakshi.krishnakumar.mk@gmail.com
        Error: mailto:meenakshi.krishnakumar.mk@gmail.com - <urlopen error unknown url type: mailto>
      https://www.instagram.com/meenakshi_jk/
  https://meenakshijk17.github.io/photography.html
      https://meenakshijk17.github.io/index.html
      https://meenakshijk17.github.io/index.html
      https://meenakshijk17.github.io/blogs.html
      https://meenakshijk17.github.io/photography.html
      https://meenakshijk17.github.io/contact.html
      https://www.linkedin.com/in/meenakshi-jk/
        Error: https://www.linkedin.com/in/meenakshi-jk/ - HTTP Error 999: Request denied
      https://github.com/Meenakshijk17
      mailto:meenakshi.krishnakumar.mk@gmail.com
        Error: mailto:meenakshi.krishnakumar.mk@gmail.com - <urlopen error unknown url type: mailto>
      https://www.instagram.com/meenakshi_jk/
        Error: https://www.instagram.com/meenakshi_jk/ - HTTP Error 429: Too Many Requests
  https://meenakshijk17.github.io/contact.html
      https://meenakshijk17.github.io/index.html
      https://meenakshijk17.github.io/index.html
      https://meenakshijk17.github.io/blogs.html
      https://meenakshijk17.github.io/photography.html
      https://meenakshijk17.github.io/contact.html
      mailto:meenakshi.krishnakumar.mk@gmail.com
        Error: mailto:meenakshi.krishnakumar.mk@gmail.com - <urlopen error unknown url type: mailto>
      https://www.linkedin.com/in/meenakshi-jk/
        Error: https://www.linkedin.com/in/meenakshi-jk/ - HTTP Error 999: Request denied
      https://github.com/Meenakshijk17
      https://www.instagram.com/meenakshi_jk/
        Error: https://www.instagram.com/meenakshi_jk/ - HTTP Error 429: Too Many Requests
      https://www.linkedin.com/in/meenakshi-jk/
        Error: https://www.linkedin.com/in/meenakshi-jk/ - HTTP Error 999: Request denied
      https://github.com/Meenakshijk17
      mailto:meenakshi.krishnakumar.mk@gmail.com
        Error: mailto:meenakshi.krishnakumar.mk@gmail.com - <urlopen error unknown url type: mailto>
      https://www.instagram.com/meenakshi_jk/
        Error: https://www.instagram.com/meenakshi_jk/ - HTTP Error 429: Too Many Requests
  https://meenakshijk17.github.io/blogs/Thinking_Outside_the_Syntax.html
      https://meenakshijk17.github.io/index.html
      https://meenakshijk17.github.io/index.html
      https://meenakshijk17.github.io/blogs.html
      https://meenakshijk17.github.io/photography.html
      https://meenakshijk17.github.io/contact.html
      https://scratch.mit.edu/projects/866415870
        Error: https://scratch.mit.edu/projects/866415870 - HTTP Error 429: Too many requests
      https://compedu.stanford.edu/karel-reader/docs/python/en/chapter1.html
      https://scratch.mit.edu/
        Error: https://scratch.mit.edu/ - HTTP Error 429: Too many requests
      https://codeinplace.stanford.edu/
      https://www.edx.org/course/introduction-computer-science-harvardx-cs50x?utm_source=google&utm_campaign=19315581336&utm_medium=cpc&utm_term=harvard%20cs50&hsa_acc=7245054034&hsa_cam=19315581336&hsa_grp=144242542723&hsa_ad=642052609431&hsa_src=g&hsa_tgt=kwd-334019831226&hsa_kw=harvard%20cs50&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQjw1rqkBhCTARIsAAHz7K2Na2zv79qLNmfCtxHeQcFHryzK5Lrlr_39l589DwAPJV8GPR-kDa8aAjvkEALw_wcB
        Error: https://www.edx.org/course/introduction-computer-science-harvardx-cs50x?utm_source=google&utm_campaign=19315581336&utm_medium=cpc&utm_term=harvard%20cs50&hsa_acc=7245054034&hsa_cam=19315581336&hsa_grp=144242542723&hsa_ad=642052609431&hsa_src=g&hsa_tgt=kwd-334019831226&hsa_kw=harvard%20cs50&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQjw1rqkBhCTARIsAAHz7K2Na2zv79qLNmfCtxHeQcFHryzK5Lrlr_39l589DwAPJV8GPR-kDa8aAjvkEALw_wcB - HTTP Error 403: Forbidden
      https://www.linkedin.com/in/meenakshi-jk/
        Error: https://www.linkedin.com/in/meenakshi-jk/ - HTTP Error 999: Request denied
      https://github.com/Meenakshijk17
      mailto:meenakshi.krishnakumar.mk@gmail.com
        Error: mailto:meenakshi.krishnakumar.mk@gmail.com - <urlopen error unknown url type: mailto>
      https://www.instagram.com/meenakshi_jk/
        Error: https://www.instagram.com/meenakshi_jk/ - HTTP Error 429: Too Many Requests
  https://meenakshijk17.github.io/blogs/The_Benefit_of_Doubt.html
      https://meenakshijk17.github.io/index.html
      https://meenakshijk17.github.io/index.html
      https://meenakshijk17.github.io/blogs.html
      https://meenakshijk17.github.io/photography.html
      https://meenakshijk17.github.io/contact.html
      https://hbr.org/podcast/2023/06/how-to-manage-being-taken-seriously
      https://hbr.org/podcast/2023/06/how-to-manage-being-taken-seriously
      https://www.linkedin.com/in/meenakshi-jk/
        Error: https://www.linkedin.com/in/meenakshi-jk/ - HTTP Error 999: Request denied
      https://github.com/Meenakshijk17
      mailto:meenakshi.krishnakumar.mk@gmail.com
        Error: mailto:meenakshi.krishnakumar.mk@gmail.com - <urlopen error unknown url type: mailto>
      https://www.instagram.com/meenakshi_jk/
        Error: https://www.instagram.com/meenakshi_jk/ - HTTP Error 429: Too Many Requests
  https://www.linkedin.com/in/meenakshi-jk/
    Error: https://www.linkedin.com/in/meenakshi-jk/ - HTTP Error 999: Request denied
  https://github.com/Meenakshijk17
      https://github.com/Meenakshijk17#start-of-content
      https://github.com/
      https://github.com/signup?ref_cta=Sign+up&ref_loc=header+logged+out&ref_page=%2F%3Cuser-name%3E&source=header
      https://github.com/features/actions
      https://github.com/features/packages
      https://github.com/features/security
      https://github.com/features/codespaces
      https://github.com/features/copilot
      https://github.com/features/code-review
      https://github.com/features/issues
      https://github.com/features/discussions
      https://github.com/features
      https://docs.github.com
      https://skills.github.com/
      https://github.blog
      https://github.com/enterprise
      https://github.com/team
      https://github.com/enterprise/startups
      https://education.github.com
      https://github.com/solutions/ci-cd/
      https://resources.github.com/devops/
      https://resources.github.com/devops/fundamentals/devsecops/
      https://resources.github.com/learn/pathways/
      https://resources.github.com/
      https://github.com/customer-stories
      https://partner.github.com/
      https://github.com/sponsors
      https://github.com/readme
      https://github.com/topics
      https://github.com/trending
      https://github.com/collections
      https://github.com/pricing
      https://docs.github.com/en/search-github/github-code-search/understanding-github-code-search-syntax
      https://docs.github.com/en/search-github/github-code-search/understanding-github-code-search-syntax
      https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2FMeenakshijk17
      https://github.com/signup?ref_cta=Sign+up&ref_loc=header+logged+out&ref_page=%2F%3Cuser-name%3E&source=header
      https://github.com/Meenakshijk17
      https://github.com/Meenakshijk17
      https://github.com/Meenakshijk17
      https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2FMeenakshijk17
      https://github.com/Meenakshijk17
      https://github.com/Meenakshijk17?tab=repositories
      https://github.com/Meenakshijk17?tab=projects
      https://github.com/Meenakshijk17?tab=packages
      https://github.com/Meenakshijk17?tab=stars
      https://github.com/Meenakshijk17
      https://github.com/Meenakshijk17?tab=repositories
      https://github.com/Meenakshijk17?tab=projects
      https://github.com/Meenakshijk17?tab=packages
      https://github.com/Meenakshijk17?tab=stars
      https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2FMeenakshijk17
      https://avatars.githubusercontent.com/u/63089206?v=4
        Error: https://avatars.githubusercontent.com/u/63089206?v=4 - 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte
      https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2FMeenakshijk17
      https://github.com/Meenakshijk17?tab=followers
      https://github.com/Meenakshijk17?tab=following
      https://meenakshijk17.github.io/
      https://www.linkedin.com/in/meenakshi-jk/
        Error: https://www.linkedin.com/in/meenakshi-jk/ - HTTP Error 999: Request denied
      https://docs.github.com/en/articles/blocking-a-user-from-your-personal-account
      https://docs.github.com/en/articles/reporting-abuse-or-spam
      https://github.com/contact/report-abuse?report=Meenakshijk17+%28user%29
      https://github.com/Meenakshijk17
      https://github.com/Meenakshijk17?tab=repositories
      https://github.com/Meenakshijk17?tab=projects
      https://github.com/Meenakshijk17?tab=packages
      https://github.com/Meenakshijk17?tab=stars
      https://github.com/Meenakshijk17
      https://github.com/Meenakshijk17?tab=repositories
      https://github.com/Meenakshijk17?tab=projects
      https://github.com/Meenakshijk17?tab=packages
      https://github.com/Meenakshijk17?tab=stars
      https://github.com/Meenakshijk17/Meenakshijk17
      mailto:meenakshi.krishnakumar.mk@gmail.com
        Error: mailto:meenakshi.krishnakumar.mk@gmail.com - <urlopen error unknown url type: mailto>
      http://www.linkedin.com/in/meenakshi-jk
        Error: http://www.linkedin.com/in/meenakshi-jk - HTTP Error 999: Request denied
      https://github.com/Meenakshijk17/Meenakshijk17
      https://github.com/Meenakshijk17/ml-classification
      https://github.com/Meenakshijk17/preprocessing1
      https://github.com/Meenakshijk17/text-preprocessing1
      https://github.com/Meenakshijk17/feature-selection1
      https://github.com/Meenakshijk17/hangman
      https://docs.github.com/articles/why-are-my-contributions-not-showing-up-on-my-profile
      https://github.com/Meenakshijk17?tab=overview&from=2023-10-01&to=2023-10-25
      https://github.com/Meenakshijk17?tab=overview&from=2022-12-01&to=2022-12-31
      https://github.com/Meenakshijk17?tab=overview&from=2021-12-01&to=2021-12-31
      https://github.com/Meenakshijk17?tab=overview&from=2020-12-01&to=2020-12-31
      https://docs.github.com/categories/setting-up-and-managing-your-github-profile
      https://github.com
      https://docs.github.com/site-policy/github-terms/github-terms-of-service
      https://docs.github.com/site-policy/privacy-policies/github-privacy-statement
      https://github.com/security
      https://www.githubstatus.com/
      https://docs.github.com
      https://support.github.com?tags=dotcom-footer
      https://github.com/pricing
      https://docs.github.com
      https://services.github.com
      https://github.blog
      https://github.com/about
  mailto:meenakshi.krishnakumar.mk@gmail.com
    Error: mailto:meenakshi.krishnakumar.mk@gmail.com - <urlopen error unknown url type: mailto>
  https://www.instagram.com/meenakshi_jk/
    Error: https://www.instagram.com/meenakshi_jk/ - HTTP Error 429: Too Many Requests

# Question 8

### Question

Write SQL queries on the below database table that return:
> a) All the temperature data.

> b) All the cities, but without repetition.

> c) All the records for India.

> d) All the Fall records.

> e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

> f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

> g) The total annual rainfall for Cairo.

> h) The total rainfall for each season.

### Answer

In [2]:
# loading the data
import sqlite3
con = sqlite3.connect('temp_rainfall1.db')
cur = con.cursor()
cur.execute("CREATE TABLE df (City text, Country text, Season text, Temperature float, Rainfall float)")
data = [['Mumbai', 'India', 'Winter', 24.8, 5.9],
        ['Mumbai', 'India', 'Spring', 28.4, 16.2],
        ['Mumbai', 'India', 'Summer', 27.9, 1549.4],
        ['Mumbai', 'India', 'Fall', 27.6, 346.0],
        ['London', 'United Kingdom', 'Winter', 4.2, 207.7],
        ['London', 'United Kingdom', 'Spring', 8.3, 169.6],
        ['London', 'United Kingdom', 'Summer', 15.7, 157.0],
        ['London', 'United Kingdom', 'Fall', 10.4, 218.5],
        ['Cairo', 'Egypt', 'Winter', 13.6, 16.5],
        ['Cairo', 'Egypt', 'Spring', 20.7, 6.5],
        ['Cairo', 'Egypt', 'Summer', 27.7, 0.1],
        ['Cairo', 'Egypt', 'Fall', 22.2, 4.5]]
for row in data:
  cur.execute(f"INSERT INTO df VALUES ('{row[0]}', '{row[1]}', '{row[2]}', {row[3]}, {row[4]})")
con.commit()
con.close()

In [3]:
# checking the loaded data
con = sqlite3.connect('temp_rainfall1.db')
cur = con.cursor()
cur.execute('SELECT * FROM df')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [4]:
# a) All the temperature data.
con = sqlite3.connect('temp_rainfall1.db')
cur = con.cursor()
cur.execute('SELECT Temperature FROM df')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [5]:
# b) All the cities, but without repetition.
con = sqlite3.connect('temp_rainfall1.db')
cur = con.cursor()
cur.execute('SELECT DISTINCT City FROM df')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [6]:
# c) All the records for India.
con = sqlite3.connect('temp_rainfall1.db')
cur = con.cursor()
cur.execute('SELECT * FROM df WHERE Country="India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [7]:
# d) All the Fall records.
con = sqlite3.connect('temp_rainfall1.db')
cur = con.cursor()
cur.execute('SELECT * FROM df WHERE Season="Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [9]:
# e) The city, country, and season for which the average rainfall
# is between 200 and 400 millimeters.
con = sqlite3.connect('temp_rainfall1.db')
cur = con.cursor()
cur.execute('SELECT City, Country, Season FROM df WHERE Rainfall BETWEEN 200 AND 400')
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [11]:
# f) The city and country for which the average Fall temperature
# is above 20 degrees, in increasing temperature order.
con = sqlite3.connect('temp_rainfall1.db')
cur = con.cursor()
cur.execute('SELECT City, Country FROM df WHERE Temperature > 20 order by Temperature')
cur.fetchall()

[('Cairo', 'Egypt'),
 ('Cairo', 'Egypt'),
 ('Mumbai', 'India'),
 ('Mumbai', 'India'),
 ('Cairo', 'Egypt'),
 ('Mumbai', 'India'),
 ('Mumbai', 'India')]

In [12]:
# g) The total annual rainfall for Cairo.
con = sqlite3.connect('temp_rainfall1.db')
cur = con.cursor()
cur.execute('SELECT SUM(Rainfall) FROM df WHERE City="Cairo"')
cur.fetchall()

[(27.6,)]

In [14]:
# h) The total rainfall for each season.
con = sqlite3.connect('temp_rainfall1.db')
cur = con.cursor()
cur.execute('SELECT Season, SUM(Rainfall) FROM df GROUP BY Season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

### Question

Suppose list words is defined as follows:
    >>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:

> a. ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

> b. ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

> c. [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

> d. [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

> e. ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

### Answer

In [38]:
# given list of words
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [39]:
# a.
[word.upper() for word in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [40]:
# b.
[word.lower() for word in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [41]:
# c.
[len(word) for word in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [42]:
# d.
[[word.upper(), word.lower(), len(word)] for word in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [47]:
# e.
[word for word in words if len(word) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']